*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 60%;
  height: 600px;
  overflow: hidden;
}

.modal {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #d9d4d4;
  z-index: 100;
}

details {
  border: 2px solid dodgerblue;
}

details summary {
  background-color: red;
  cursor: pointer;
}

p {
  column-count: 2;
  column-gap: 20px;
}
